* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Overall note:
I reorganized style.css to match best formatting practices,
with priority given first to ensuring that "higher-level" selectors are higher up
in style.css (so, classes have been moved to the bottom) and second to placing 
selectors in an order that mimics their position in index.html.*/

body {
    background-color: #d9dcd6;
}

/*I removed the class "header" and replaced the div tag that was serving as a header
with a header tag.*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}


/*I removed the "seo" class and moved its code here, since the span tag used to contain
the letters "seo" in the header is the only span tag in index.html.*/
header h1 span {
    color: #d9dcd6;
}

/*I changed the div tag containing the navigation elements of the page editor to a nav
tag in the interests of clear semantics.*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/*After semantic adjustments to the rest of index.html and style.css,
the div tag used to handle the large centerpiece image of the website
was the only remaining div tag in index.html, so the "hero" class was 
no longer a necessary selector, and I moved its code directly under 
the div selector's section.*/
div {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*I put the main centerpiece content of the app under a main tag, the individual
sections under "article tags", and consolidated the code relating to this content
accordingly.*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main section img {
    max-height: 200px;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*I put the content on the app's sidebar into an "aside" tag, changed the tags 
containing the sidebar's content to "article" tags, and consolidated the rest of the code 
relating to the sidebar here. I also changed the background color of the sidebar content
to improve its readibility for the visually impaired.*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

aside article {
    margin-bottom: 32px;
    color: #ffffff;
}

aside article h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*I consolidated the code relating to the footer under the footer selector after adjusting 
index.html*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}


/*"float-left" and "float-right" handle formatting tasks that couldn't be done
concisely with other selectors alone, so I've left them unchanged, aside from 
their position in style.css*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

